@model BurnsWilcoxCLP.Models.UserEntity
@{

    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burns &amp; Wilcox</title>
    @Styles.Render("~/Content/Styles")
    @Styles.Render("~/Content/ui")
    @Styles.Render("~/Content/TelerikReport")
    @Scripts.Render("~/Content/scripts")
  
</head>

<div class="page-container login-container">
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { @id = "formLogin" }))
                {
                    @Html.HiddenFor(m => m.UserId)
                    <div class="panel panel-body login-form">
                        <div class="text-center">
                            <div class="icon-object border-slate-300 text-slate-300"><i class="fa fa-user-secret"></i></div>
                            <h5 class="content-group">Reset Password</h5>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "validation-error-label" })
                            <div class="form-control-feedback">
                                @*<i class="fa fa-user text-muted"></i>*@
                            </div>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "validation-error-label" })
                            <div class="form-control-feedback">
                                @*<i class="fa fa-lock text-muted"></i>*@
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Save</button>
                      
                    </div>
                }
            </div>
        </div>
    </div>
</div>








